<template> 
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#coord-navigation-navbar-collapse">
        <span class="sr-only" t="nav.toggle"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa fa-home"></i>
        ${router.title}
      </a>
    </div>

    <div class="collapse navbar-collapse" 
         id="coord-navigation-navbar-collapse">
      <ul class="nav navbar-nav">
        <li repeat.for="row of router.navigation" 
            class="${row.isActive ? 'active' : ''}">
          <a data-toggle="collapse" 
             data-target="#coord-navigation-navbar-collapse.in" 
             href.bind="row.href">${row.title}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>
    </div>
  </nav> 
  <div class="page-host">
    <router-view></router-view>
  </div>
</template>
