<template>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <h1 class="h3 page-header">Coordinate management system</h1>
      </div>
    </div>
<!--   <section class="container au-animate">
  </section> -->

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div  class="panel panel-primary">
        <div class="panel-heading">Points:</div>    
        <ul class="list-group">
          <li class="list-group-item" repeat.for="listitem of coordlist">
            <div class="row">
              <a route-href="route: pointlist; params.bind: { id: listitem._id }">
                <div class="col-xs-3">
                  ${$index + 1}.
                </div>
                <div class="col-xs-6">
                    <span>${listitem.name}</span>
                </div>
              </a>
              <div class="col-xs-3">
                <button class="btn btn-primary btn-sm" click.delegate="tryDelete(listitem._id)">
                  <i class="fa fa-trash-o"></i>
                </button> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <button class="btn btn-success btn-sm" click.delegate="tryAdd()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</template>
