<template>
  <ux-dialog >
    <ux-dialog-header>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10"> 
          <div class="text-muted text-left">
            ${question}
          </div>
        </div>
      </div>
    </ux-dialog-header>
    <ux-dialog-body>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">  
          <button class="btn btn-danger col-xs-12" click.trigger="controller.ok()">Ok</button>
        </div>
      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
