<template>
  <ux-dialog>
    <ux-dialog-header>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="text-muted text-left">
            ${headerText}
          </div>
        </div>
      </div>
    </ux-dialog-header>
    <ux-dialog-body>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        <input  type="file" name="data" files.bind="inputData">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <button class="btn btn-success col-xs-12" click.trigger="controller.ok(inputData)">Save</button>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <button class="btn btn-default col-xs-12" click.trigger="controller.cancel()">Cancel</button>
        </div>
      </div>
    </ux-dialog-body>
  </ux-dialog>
</template>
