<template>
  <div class="hide-while-loading" show.bind="!showSpinner">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 h3 page-header">
        List name: ${pointsList.name}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-push-7">
        <form class="form-horizontal">
          <div class="row">
            <div class="col-xs-4">
              <div class="input-group" validation-errors.bind="xInputErrors" class.bind="xInputErrors.length ? 'has-error' : ''">
                <span class="input-group-addon" id="input-addon-x">X</span>
                <input value.bind="point.x & validate" type="text" class="form-control" aria-describedby="input-addon-x" id="input-x" disabled.bind="pointsList.points.length > 10000" />
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="alert alert-danger" role="alert" if.bind="xInputErrors.length">
                    <div class="" repeat.for="errorInfo of xInputErrors">
                      <i class="fa fa-square " style="font-size:5px; vertical-align: middle;"></i> ${errorInfo.error.message}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="input-group" validation-errors.bind="yInputErrors" class.bind="yInputErrors.length ? 'has-error' : ''">
                <span class="input-group-addon" id="input-addon-y">Y</span>
                <input value.bind="point.y & validate" type="text" class="form-control" aria-describedby="input-addon-y" id="input-y" disabled.bind="pointsList.points.length > 10000"/>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="alert alert-danger" role="alert" if.bind="yInputErrors.length">
                    <div class="" repeat.for="errorInfo of yInputErrors">
                      <i class="fa fa-square " style="font-size:5px; vertical-align: middle;"></i> ${errorInfo.error.message}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="submit" class="btn btn-success btn-sm" click.delegate="tryAdd()" disabled.bind="pointsList.points.length > 10000">
              <i class="fa check"></i> Add new point
            </button>

                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More actions <span class="caret"></span>
              </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" click.delegate="tryRename()">Rename list</a></li>
                    <li><a href="#" click.delegate="tryClear()">Clear list</a></li>
                    <li><a href="#" click.delegate="tryDownload()">Download list</a></li>
                    <li><a href="#" click.delegate="tryUpload()">Upload list</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-3 col-sm-pull-4 col-sm-offset-1">
        <compose view="./points-list.html"></compose>
      </div>
      <div class="col-sm-3 col-sm-pull-4">
        <compose view="./squares-list.html"></compose>
      </div>
    </div>
  </div>
  <div class="loading-overlay" show.bind="showSpinner">
    <div class="splash">
      <div class="message">Loading</div>
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</template>
