<template>
  <require from="../../resources/value-converters/integer"></require>
  <require from="../../resources/value-converters/ceil"></require>
  <div class="panel panel-primary">
    <div class="panel-heading">Points:</div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row" if.bind="pointsList.points.length>0">
          <div class="col-xs-11 col-xs-offset-1">
            <pager page.bind="$pgid" pagerange.bind="1" pages.bind="(pointsList.points.length/pagination.pointsCount) | ceil"></pager>
          </div>
          <div class="col-xs-10 col-xs-offset-1 points-in-page">
            <div class="row">
              <div class="col-xs-4">
                <span class="label label-primary">Points in page:</span>
              </div>
              <div class="col-xs-4 col-xs-offset-1">
                <select id="selectpicker" class="selectpicker" value.bind="pagination.pointsCount">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">X</th>
                  <th class="text-center">Y</th>
                </tr>
              </thead>
              <tbody>
                <tr repeat.for="i of pagination.pointsCount | integer">
                  <td class="col-xs-3" if.bind="pointsList.points.length > (i+($pgid-1)*pagination.pointsCount)">${i+($pgid-1)*pagination.pointsCount+1}.</td>
                  <td class="col-xs-3" if.bind="pointsList.points.length > (i+($pgid-1)*pagination.pointsCount)">${pointsList.points[i+($pgid-1)*pagination.pointsCount].x}</td>
                  <td class="col-xs-3" if.bind="pointsList.points.length > (i+($pgid-1)*pagination.pointsCount)">${pointsList.points[i+($pgid-1)*pagination.pointsCount].y}</td>
                  <td class="col-xs-3" if.bind="pointsList.points.length > (i+($pgid-1)*pagination.pointsCount)">
                    <button class="btn btn-primary btn-sm" click.delegate="tryDelete(pointsList.points[i+($pgid-1)*pagination.pointsCount]._id)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</template>
