<template>
  <require from="../../resources/value-converters/integer"></require>
  <require from="../../resources/value-converters/ceil"></require>
  <div class="panel panel-success">
    <div class="panel-heading">Squares: </div>
    <div class="row" if.bind="pointsList.squares.length>0">
      <div class="col-xs-10 col-xs-offset-1">
        <pager page.bind="sqPgid" pagerange.bind="1" pages.bind="(pointsList.squares.length/pagination.squaresCount) | ceil"></pager>
      </div>
      <div class="col-xs-10 col-xs-offset-1 points-in-page">
        <div class="row">
          <div class="col-xs-4">
            <span class="label label-success">Squares in page:</span>
          </div>
          <div class="col-xs-4 col-xs-offset-1">
            <select class="selectpicker" value.bind="pagination.squaresCount">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
          </div>
        </div>
      </div>

    </div>
    <div class="row" if.bind="pointsList.squares.length>0">
      <div class="col-xs-10 col-xs-offset-1">
        <table class="table table-hover text-center" repeat.for="i of pagination.squaresCount | integer" if.bind="pointsList.squares.length > (i+(sqPgid-1)*pagination.squaresCount)">
          <caption class="text-center">Square nr. ${i+(sqPgid-1)*pagination.squaresCount +1}</caption>
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">X</th>
              <th class="text-center">Y</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="pointIndex of 4">              
              <td>${$index+1}.</td>
              <td>${pointsList.squares[i+(sqPgid-1)*pagination.squaresCount].points[pointIndex].x}</td>
              <td>${pointsList.squares[i+(sqPgid-1)*pagination.squaresCount].points[pointIndex].y}</td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</template>
